includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - routes
        - tests
        - resources
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Method .*::.*\(\) has no return type specified.#'
        - '#Method .*::.*\(.*\) has parameter .+ with no type specified.#'

        
