includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - routes
        - tests
        - resources
    ignoreErrors:
        - '#Method .*::.*\(\) has no return type specified.#'
        - '#Method .*::.*\(.*\) has parameter .+ with no type specified.#'
        - '#Cannot access property .+ on .+\|null.#'
        - '#PHPDoc type array<int, string> of property .+ is not covariant with PHPDoc type list<string> of overridden property .+#'
        - '#Undefined variable: \$this#'
        - '#Call to method PHPUnit\\\\Framework\\\\Assert::assertTrue\(\) with true will always evaluate to true.#'
    excludesPaths:
        - tests/Unit/ExampleTest.php
